#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

canvas#c{
  height: 100%;
  width: 100%;
  display:block;
}
