#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body, #app {
  height: 100%;
  margin: 0;
  background-color: black;
}

canvas#c{
  height: 100%;
  width: 100%;
  display:block;
}

.intro-txt-container {
  position: absolute;
  inset: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.canvas-stats-container {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  color: white;
  height:fit-content;
  padding: 16px;
  text-align: left;
}